{{define "title"}}
File {{.Filename}} uploaded successfully
{{end}}

{{define "header"}}
      <h1>{{.Filename}} has been successfully uploaded</h1>
{{end}}

{{define "body"}}
    <a href="/">Upload another book!</a>
{{end}}