<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A site to upload epub files directly to a kobo e-reader" />
    <meta name="keywords" content="kobo, ebook file server" />
    <meta name="author" content="ananthvk" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Kobo File Server</title>
  </head>

  <body>
    <header>
      <h1>KoboWS</h1>
    </header>

    <main>
      <h2>System Information</h2>
      <ul>
        <li>Current time: {{ .Time }}</li>
        <li>Hostname: {{ .Hostname }}</li>
        <li>OS: {{ .OS }}</li>
        <li>Architecture: {{ .Arch }}</li>
        <li>CPU Count: {{ .NumCPU }}</li>
        <li>Go Version: {{ .GoVersion }}</li>
        <li>Goroutines: {{ .NumGoroutines }}</li>
        <li>User: {{ .User }}</li>
        <li>Working Directory: {{ .WorkingDir }}</li>
        <li>Uptime: {{ .Uptime }}</li>
        <li>PID: {{ .PID }}</li>
        <li>Memory Allocated: {{ .MemStats.Alloc }} bytes</li>
        <li>Memory Total Allocated: {{ .MemStats.TotalAlloc }} bytes</li>
        <li>Memory System: {{ .MemStats.Sys }} bytes</li>
        <li>Memory Heap Allocated: {{ .MemStats.HeapAlloc }} bytes</li>
        <li>Memory Heap InUse: {{ .MemStats.HeapInuse }} bytes</li>
        <li>Memory Heap System: {{ .MemStats.HeapSys }} bytes</li>
        <li>Garbage Collections: {{ .MemStats.NumGC }}</li>
      </ul>
    </main>

    <footer>
      <a href="https://github.com/ananthvk">Homepage</a>
    </footer>
  </body>
</html>
